body, html {
	width:100%;
	min-height: 100%;
	height:100%;
}

a {
	color:#2980b9;
	text-decoration:none;
}

#enterin-ctrl a:hover {
	color:#E9E9E9;
}

footer {
	margin-top:30px;
}

#enterin-wrapper {
	width: 767px;
	height: 432px;
	min-height: 400px;
	border:2px solid #E9E9E9;
	padding:20px;
}

#enterin-wrapper .enterin-slide {
   width:100%;
   height:100%;
   min-height:100%;	
}

#enterin-wrapper .enterin-slide.slide1 {
   background: url('img/mac.png') center center no-repeat transparent;
   background-size: 100%;
}
#enterin-wrapper .enterin-slide.slide2 {
	background: url('img/ipad.png') center center no-repeat transparent;
	background-size: 100%;
}
#enterin-wrapper .enterin-slide.slide3 {
	background: url('img/iphone.png') center center no-repeat transparent;
	background-size: 100%;
}
#enterin-wrapper .enterin-slide.slide4 {
	background: url('img/enterin-slide.png') center center no-repeat transparent;
	background-size:60%;
}

#enterin-ctrl {
	z-index:888;
	margin-bottom:20px;
}

#enterin-ctrl a{
	display:inline-block;
	margin-right:30px;
}

#enterin-ctrl a:hover {
	color:#E9E9E9;
}
